# Dependencies
node_modules

# Build outputs
dist
build
.next
out

# Cache
.cache
.parcel-cache
.vite

# Logs
*.log

# Other
coverage
.env
.env.local
.env.*.local

# Package manager
package-lock.json
yarn.lock
pnpm-lock.yaml
