.contact-wrapper {
  position: relative;
  height: 100vh;
  clip-path: polygon(0% 0, 100% 0%, 100% 100%, 0 100%);
}

.contact-fixed {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1;
}
